.idea/mall-of-turkey.iml
.idea/php.xml
/node_modules
/public/hot
/public/storage
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/workspace.xml

.htaccess
composer-setup.php
composer.phar
index.php
